EAR5/final_verification/ERA5/
ERA5/
india_processing/india_uniform/
.DS_Store
era5_locations.csv
ESMI_India_538_locations.csv
*.qgz
/data
.ipynb_checkpoints
.DS_Store
data_preparation/notebooks/test.csv
data_preparation/notebooks/test_station.csv
.DS_Store